In [196]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import pandas as pd
import numpy as np

In [197]:
hh_data = pd.read_csv("C:\Data_sets\dst-3.0_16_1_hh_database.csv",sep = ';')

In [198]:
hh_df = hh_data.copy()

Рассмотрим размерность таблицы:

In [199]:
hh_df.shape

(44744, 12)

In [200]:
hh_df.head()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

In [201]:
hh_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

In [202]:
hh_df.isnull().sum()

Пол, возраст                         0
ЗП                                   0
Ищет работу на должность:            0
Город, переезд, командировки         0
Занятость                            0
График                               0
Опыт работы                        168
Последнее/нынешнее место работы      1
Последняя/нынешняя должность         2
Образование и ВУЗ                    0
Обновление резюме                    0
Авто                                 0
dtype: int64

In [203]:
hh_df['Опыт работы'].nunique()

44413

In [204]:
hh_df['Ищет работу на должность:'].mode()

0    Системный администратор
Name: Ищет работу на должность:, dtype: object

In [205]:
def get_education(arg):
    arg = ' '.join(arg.split(' ')[:3])
    if 'Высшее образование' in arg:
        return 'высшее'
    elif 'Неоконченное высшее' in arg:
        return 'неоконченное высшее'
    elif 'Среднее специальное' in arg:
        return 'среднее специальное'
    elif 'Среднее образование' in arg:
        return 'среднее'

In [206]:
hh_df['Образование']=hh_df['Образование и ВУЗ'].apply(get_education)

In [207]:
hh_df['Образование'].value_counts()

Образование
высшее                 33863
среднее специальное     5765
неоконченное высшее     4557
среднее                  559
Name: count, dtype: int64

Обратите внимание на структуру текста в столбце «Образование и ВУЗ». Гарантируется, что текущий уровень образования соискателя всегда отражён в первых трёх словах и начинается с заглавной буквы. Воспользуйтесь этим.

Создайте два новых признака «Пол» и «Возраст». При этом важно учесть:

Признак пола должен иметь два уникальных строковых значения: М — мужчина, Ж — женщина.
Признак возраста должен быть представлен целыми числами.

In [208]:
hh_df['Пол'] = hh_df['Пол, возраст'].apply(lambda x: 'М' if 'Мужчина' in x  else 'Ж')
def get_age(age):
    age_list=age.split(' ')
    age_list = age_list[3]
    return age_list
hh_df['Возраст'] = hh_df['Пол, возраст'].apply(get_age)
hh_df['Возраст'].astype('int64')

0        39
1        60
2        36
3        38
4        26
         ..
44739    30
44740    27
44741    48
44742    24
44743    38
Name: Возраст, Length: 44744, dtype: int64

In [209]:
hh_df = hh_df.drop(columns=['Пол, возраст','Образование и ВУЗ' ])

In [210]:
hh_df['Пол'].value_counts(normalize=True)

Пол
М    0.809293
Ж    0.190707
Name: proportion, dtype: float64

In [211]:
hh_df['Возраст'].astype('int64').mean()

32.19674146254246

In [212]:
def exp_work(arg):
    years = 0
    months = 0
    month_list= ['месяц', 'месяца','месяцев']
    year_list = ['год', 'года', 'лет']
    if arg is np.nan or arg == 'Не указано':
        return None
    arg_split = arg.split(' ')[:7]
    for index,item  in enumerate(arg_split):
        if item in year_list:
            years = int(arg_split[index-1])
        if item in month_list:
            months = int(arg_split[index-1])
    return int(years*12+months)
hh_df['Опыт']=hh_df['Опыт работы'].apply(exp_work)

In [213]:
hh_df.head()

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,Опыт
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,39,202.0
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,М,60,233.0
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,36,123.0
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,М,38,225.0
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,26,67.0

In [214]:
hh_df['Опыт'].median()

100.0

In [215]:
x = ['Москва','Санкт-Петербург']
million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' ]

In [216]:
def get_city(arg):
    arg_split = arg.split(' ')[0]
    x = ['Москва','Санкт-Петербург']
    million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' ]
    if arg_split in x:
        return arg_split
    elif arg_split in million_cities:
        return 'город-миллионник'
    else:
        return 'другие'
def get_ready_to_move(arg):
    if ('не готов к переезду' in arg) or ('не готова к переезду' in arg):
        return False
    elif 'хочу' in arg:
        return True
    else:
        return True
    
def get_ready_for_bisiness_trips(arg):
    if ('командировка' in arg):
        if ('не готов к командировкам' in arg) or('не готова к командировкам' in arg):
            return False
        else: 
            
            return True
    else:
        return False   
hh_df['Город']=hh_df['Город, переезд, командировки'].apply(get_city)
hh_df['Город'].value_counts(normalize='True')
hh_df['Переезд']=hh_df['Город, переезд, командировки'].apply(get_ready_to_move)
hh_df['Командировки']=hh_df['Город, переезд, командировки'].apply(get_ready_for_bisiness_trips)

In [217]:
mask1 = hh_df['Командировки'] == True 
mask2 = hh_df['Переезд'] == True
a = hh_df[mask1 & mask2].shape[0]
b =hh_df.shape[0]
print(a/b)
print(round(hh_df[
    hh_df['Переезд'] & hh_df['Командировки']
].shape[0] / hh_df.shape[0] *100))

0.3186572501340962
32

In [218]:
hh_df.drop(["Город, переезд, командировки"], axis = 1, inplace = True)

In [219]:
full_metrics1 = sorted(hh_df['График'].unique(), key=lambda x: len(x), reverse=True)[0].split(', ')
full_metrics2 = hh_df['Занятость'].value_counts().sort_index(key=lambda x: x.str.len(), ascending=False).index[0].split(', ')
print(full_metrics1)
print(full_metrics2)

['гибкий график', 'полный день', 'сменный график', 'вахтовый метод', 'удаленная работа']
['проектная работа', 'стажировка', 'волонтерство', 'частичная занятость', 'полная занятость']

In [220]:

for cat in full_metrics2:
    hh_df[cat] = hh_df['Занятость'].apply(lambda x: cat in x)
tt  = ['гибкий график', 'полный день', 'сменный график', 'вахтовый метод', 'удаленная работа']
for cat in full_metrics1:
    hh_df[cat]=hh_df['График'].apply(lambda x: cat in x)

In [221]:
hh_df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['ЗП', 'Ищет работу на должность:', 'Занятость', 'График', 'Опыт работы',
       'Последнее/нынешнее место работы', 'Последняя/нынешняя должность',
       'Обновление резюме', 'Авто', 'Образование', 'Пол', 'Возраст', 'Опыт',
       'Город', 'Переезд', 'Командировки', 'проектная работа', 'стажировка',
       'волонтерство', 'частичная занятость', 'полная занятость',
       'гибкий график', 'полный день', 'сменный график', 'вахтовый метод',
       'удаленная работа'],
      dtype='object')>

In [222]:
hh_df.head()
mask1 = hh_df['проектная работа']== True
mask2 = hh_df['волонтерство'] == True
col = hh_df[mask1 & mask2].shape[0]
print(col)

436

In [223]:
mask1 = hh_df['вахтовый метод'] == True
mask2 = hh_df['гибкий график'] == True
display(hh_df[mask1 & mask2].shape[0])

2311

Наконец, мы добрались до самого главного — признака заработной платы «ЗП». 

В чём наша проблема? — В том, что помимо желаемой заработной платы соискатель указывает валюту, в которой он хотел бы её получать.Поэтому просто обратимся к профильным интернет-ресурсам для получения данных о курсе в виде текстовых файлов. Например, MFD.RU: данный ресурс позволяет удобно экспортировать данные о курсах различных валют и акций за указанные периоды в виде csv.

In [224]:
rates = pd.read_csv('C:\Data_sets\ExchangeRates.csv')

In [225]:
rates.tail()

     currency per      date   time    close  vol  proportion
5659      AZN   D  02/12/19  00:00  37.7729    0           1
5660      AZN   D  03/12/19  00:00  37.9662    0           1
5661      AZN   D  04/12/19  00:00  37.8073    0           1
5662      AZN   D  05/12/19  00:00  37.8396    0           1
5663      AZN   D  06/12/19  00:00  37.6148    0           1

Создайте новый DataFrame из скачанного файла. В полученной таблице нас будут интересовать столбцы:

In [226]:
rates_df = rates[['currency','date','proportion','close']]
rates_df.head()

  currency      date  proportion    close
0      USD  29/12/17           1  57.6291
1      USD  30/12/17           1  57.6002
2      USD  31/12/17           1  57.6002
3      USD  01/01/18           1  57.6002
4      USD  02/01/18           1  57.6002

In [227]:
hh_df.tail()

,ЗП,Ищет работу на должность:,Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,...,проектная работа,стажировка,волонтерство,частичная занятость,полная занятость,гибкий график,полный день,сменный график,вахтовый метод,удаленная работа
44739,50000 руб.,"Финансист, аналитик, экономист, бухгалтер, мен...",полная занятость,"полный день, удаленная работа","Опыт работы 7 лет 7 месяцев Финансист, аналит...","ООО ""IAS"" (независимый участник объединения Ru...",Руководитель субгруппы,22.04.2019 12:32,Не указано,высшее,...,False,False,False,False,True,False,True,False,False,True
44740,39000 руб.,"Системный администратор, IT-специалист","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день, ...","Опыт работы 7 лет Системный администратор, IT...",ИП Пестрецов,Предприниматель,22.04.2019 13:11,Не указано,высшее,...,True,False,False,True,True,True,True,True,False,True
44741,40000 руб.,"Аналитик данных, Математик",полная занятость,"полный день, удаленная работа",Опыт работы 21 год 5 месяцев Январь 1998 — по...,"ОАО «ЧМК», Исследовательско-Технологический Це...",Начальник группы аналитики,09.04.2019 05:07,Не указано,высшее,...,False,False,False,False,True,False,True,False,False,True
44742,20000 руб.,Контент-менеджер,"частичная занятость, полная занятость",удаленная работа,Опыт работы 3 года 10 месяцев Контент-менедже...,IQ-Maxima,Менеджер проектов,26.04.2019 14:25,Имеется собственный автомобиль,высшее,...,False,False,False,True,True,False,False,False,False,True
44743,120000 руб.,Руководитель проекта,полная занятость,полный день,Опыт работы 15 лет 10 месяцев Руководитель пр...,ПАО ГК ТНС энерго,Руководитель отдела технической поддержки,05.07.2018 20:15,Не указано,высшее,...,False,False,False,False,True,False,True,False,False,False

Пропорция — это число, отражающее, скольким единицам валюты соответствует курс в таблице с курсами. Например для казахстанского тенге курс на 20.08.2019 составляет 17.197 руб. за 100 тенге, тогда итоговый курс равен: 17.197 / 100 = 0.17197 руб. за 1 тенге.

Теперь у нас есть вся необходимая информация для того, чтобы создать признак «ЗП (руб)» — заработная плата в рублях.

In [228]:
rates_df['date']=pd.to_datetime(rates_df['date'],dayfirst=True)
rates_df['date']=rates_df['date'].dt.date
hh_df['Обновление резюме'] = pd.to_datetime(hh_df['Обновление резюме'],dayfirst=True)
hh_df['date']=hh_df['Обновление резюме'].dt.date
hh_df.head()
rates_df.head()

C:\Users\DS\AppData\Local\Temp\ipykernel_17900\3279883356.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  rates_df['date']=pd.to_datetime(rates_df['date'],dayfirst=True)
C:\Users\DS\AppData\Local\Temp\ipykernel_17900\3279883356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rates_df['date']=pd.to_datetime(rates_df['date'],dayfirst=True)
C:\Users\DS\AppData\Local\Temp\ipykernel_17900\3279883356.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rates_df['date']=rates_df['date'].dt.date

  currency        date  proportion    close
0      USD  2017-12-29           1  57.6291
1      USD  2017-12-30           1  57.6002
2      USD  2017-12-31           1  57.6002
3      USD  2018-01-01           1  57.6002
4      USD  2018-01-02           1  57.6002

In [229]:
hh_df[['zp', 'currency']] = hh_df['ЗП'].str.split(' ', n=1, expand=True)

In [230]:
hh_df['currency'].value_counts()

currency
руб.        42471
KZT          1108
USD           628
бел.руб.      329
EUR           106
грн.           73
сум            20
KGS             6
AZN             3
Name: count, dtype: int64

In [231]:
ISO_dict = {'руб.' : 'RUB', 'грн':'UAH','бел.руб.':'BYN', 'грн.':'UAH', 'сум' : 'UZS'}
hh_df['currency']=hh_df['currency'].apply(lambda x: ISO_dict[x] if x in ISO_dict.keys() else x)
hh_df['currency'].value_counts()

currency
RUB    42471
KZT     1108
USD      628
BYN      329
EUR      106
UAH       73
UZS       20
KGS        6
AZN        3
Name: count, dtype: int64

In [252]:
merged = hh_df.merge(
    rates_df,
    left_on = ['currency', 'date'],
    right_on = ['currency', 'date',],
    how = 'left'
)
merged['close']=merged['close'].fillna(1)
merged['proportion']=merged['proportion'].fillna(1)
merged['zp']=merged['zp'].astype('float')
merged['ЗП (руб)']=merged['zp']*merged['close']/merged['proportion']
merged.head()
merged['ЗП (руб)'].median()
merged.drop(['ЗП','zp','Опыт работы','Занятость','График','Обновление резюме','close','currency','proportion'],axis=1,inplace=True)
merged.rename(columns = {' date ':' обновление резюме', 'Переезд':'Готовность к переездам', 'Командировки':'Готовность к командировкам'}, inplace = True )
merged['Возраст']=merged['Возраст'].astype('int64')
merged.head()

,Ищет работу на должность:,Последнее/нынешнее место работы,Последняя/нынешняя должность,Авто,Образование,Пол,Возраст,Опыт,Город,Готовность к переездам,...,волонтерство,частичная занятость,полная занятость,гибкий график,полный день,сменный график,вахтовый метод,удаленная работа,date,ЗП (руб)
0,Системный администратор,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Имеется собственный автомобиль,неоконченное высшее,М,39,202.0,другие,False,...,False,True,True,True,True,True,True,True,2019-04-16,29000.0
1,Технический писатель,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Не указано,высшее,М,60,233.0,другие,False,...,False,True,True,True,True,True,False,True,2019-04-12,40000.0
2,Оператор,ПАО Сбербанк,Кассир-операционист,Не указано,среднее специальное,Ж,36,123.0,другие,False,...,False,False,True,False,True,False,False,False,2019-04-16,20000.0
3,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,OpenSoft,Инженер-программист,Не указано,высшее,М,38,225.0,другие,False,...,False,True,True,True,False,False,False,True,2019-04-08,100000.0
4,Региональный менеджер по продажам,Мармелад,Менеджер по продажам,Не указано,высшее,Ж,26,67.0,Москва,False,...,False,False,True,False,True,False,False,False,2019-04-22,140000.0

In [253]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ищет работу на должность:        44744 non-null  object
 1   Последнее/нынешнее место работы  44743 non-null  object
 2   Последняя/нынешняя должность     44742 non-null  object
 3   Авто                             44744 non-null  object
 4   Образование                      44744 non-null  object
 5   Пол                              44744 non-null  object
 6   Возраст                          44744 non-null  int64
 7   Опыт                             44574 non-null  float64
 8   Город                            44744 non-null  object
 9   Готовность к переездам           44744 non-null  bool
 10  Готовность к командировкам       44744 non-null  bool
 11  проектная работа                 44744 non-null  bool
 12  стажировка                       44744 non-null  bool
 13  волонтерство                     44744 non-null  bool
 14  частичная занятость              44744 non-null  bool
 15  полная занятость                 44744 non-null  bool
 16  гибкий график                    44744 non-null  bool
 17  полный день                      44744 non-null  bool
 18  сменный график                   44744 non-null  bool
 19  вахтовый метод                   44744 non-null  bool
 20  удаленная работа                 44744 non-null  bool
 21  date                             44744 non-null  object
 22  ЗП (руб)                         44744 non-null  float64
dtypes: bool(12), float64(2), int64(1), object(8)
memory usage: 4.3+ MB

Index(['Ищет работу на должность:', 'Последнее/нынешнее место работы',
       'Последняя/нынешняя должность', 'Авто', 'Образование', 'Пол', 'Возраст',
       'Опыт', 'Город', 'Готовность к переездам', 'Готовность к командировкам',
       'проектная работа', 'стажировка', 'волонтерство', 'частичная занятость',
       'полная занятость', 'гибкий график', 'полный день', 'сменный график',
       'вахтовый метод', 'удаленная работа', 'date', 'ЗП (руб)'],
      dtype='object')