In [567]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import pandas as pd
import numpy as np

In [568]:
hh_data = pd.read_csv("C:\IDE\SkillFactory\HH_analysis\dst-3.0_16_1_hh_database.csv",sep=';')

In [569]:
hh_df = hh_data.copy()

Рассмотрим размерность таблицы:

In [570]:
hh_df.shape

(44744, 12)

In [571]:
hh_df.head()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

In [572]:
hh_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

In [573]:
hh_df.isnull().sum()

Пол, возраст                         0
ЗП                                   0
Ищет работу на должность:            0
Город, переезд, командировки         0
Занятость                            0
График                               0
Опыт работы                        168
Последнее/нынешнее место работы      1
Последняя/нынешняя должность         2
Образование и ВУЗ                    0
Обновление резюме                    0
Авто                                 0
dtype: int64

In [574]:
hh_df['Опыт работы'].nunique()

44413

In [575]:
hh_df['Ищет работу на должность:'].mode()

0    Системный администратор
Name: Ищет работу на должность:, dtype: object

In [576]:
def get_education(arg):
    arg = ' '.join(arg.split(' ')[:3])
    if 'Высшее образование' in arg:
        return 'высшее'
    elif 'Неоконченное высшее' in arg:
        return 'неоконченное высшее'
    elif 'Среднее специальное' in arg:
        return 'среднее специальное'
    elif 'Среднее образование' in arg:
        return 'среднее'

In [577]:
hh_df['Образование']=hh_df['Образование и ВУЗ'].apply(get_education)

In [578]:
hh_df['Образование'].value_counts()

Образование
высшее                 33863
среднее специальное     5765
неоконченное высшее     4557
среднее                  559
Name: count, dtype: int64

Обратите внимание на структуру текста в столбце «Образование и ВУЗ». Гарантируется, что текущий уровень образования соискателя всегда отражён в первых трёх словах и начинается с заглавной буквы. Воспользуйтесь этим.

Создайте два новых признака «Пол» и «Возраст». При этом важно учесть:

Признак пола должен иметь два уникальных строковых значения: М — мужчина, Ж — женщина.
Признак возраста должен быть представлен целыми числами.

In [579]:
hh_df['Пол'] = hh_df['Пол, возраст'].apply(lambda x: 'М' if 'Мужчина' in x  else 'Ж')
def get_age(age):
    age_list=age.split(' ')
    age_list = age_list[3]
    return age_list
hh_df['Возраст'] = hh_df['Пол, возраст'].apply(get_age)
hh_df['Возраст'].astype('int64')

0        39
1        60
2        36
3        38
4        26
         ..
44739    30
44740    27
44741    48
44742    24
44743    38
Name: Возраст, Length: 44744, dtype: int64

In [580]:
hh_df = hh_df.drop(columns=['Пол, возраст','Образование и ВУЗ' ])

In [581]:
hh_df['Пол'].value_counts(normalize=True)

Пол
М    0.809293
Ж    0.190707
Name: proportion, dtype: float64

In [582]:
hh_df['Возраст'].astype('int64').mean()

32.19674146254246

In [584]:
def exp_work(arg):
    years = 0
    months = 0
    month_list= ['месяц', 'месяца','месяцев']
    year_list = ['год', 'года', 'лет']
    if arg is np.nan or arg == 'Не указано':
        return None
    arg_split = arg.split(' ')[:7]
    for index,item  in enumerate(arg_split):
        if item in year_list:
            years = int(arg_split[index-1])
        if item in month_list:
            months = int(arg_split[index-1])
    return int(years*12+months)
hh_df['Опыт']=hh_df['Опыт работы'].apply(exp_work)

In [585]:
hh_df.head()

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,Опыт
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,39,202.0
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,М,60,233.0
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,36,123.0
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,М,38,225.0
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,26,67.0

In [586]:
hh_df['Опыт'].median()

100.0

In [587]:
x = ['Москва','Санкт-Петербург']
million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' ]

In [588]:
def get_city(arg):
    arg_split = arg.split(' ')[0]
    x = ['Москва','Санкт-Петербург']
    million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' ]
    if arg_split in x:
        return arg_split
    elif arg_split in million_cities:
        return 'город-миллионник'
    else:
        return 'другие'
def get_ready_to_move(arg):
    if ('не готов к переезду' in arg) or ('не готова к переезду' in arg):
        return False
    elif 'хочу' in arg:
        return True
    else:
        return True
    
def get_ready_for_bisiness_trips(arg):
    if ('командировка' in arg):
        if ('не готов к командировкам' in arg) or('не готова к командировкам' in arg):
            return False
        else: 
            
            return True
    else:
        return False   
hh_df['Город']=hh_df['Город, переезд, командировки'].apply(get_city)
hh_df['Город'].value_counts(normalize='True')
hh_df['Переезд']=hh_df['Город, переезд, командировки'].apply(get_ready_to_move)
hh_df['Командировки']=hh_df['Город, переезд, командировки'].apply(get_ready_for_bisiness_trips)

In [589]:
mask1 = hh_df['Командировки'] == True 
mask2 = hh_df['Переезд'] == True
a = hh_df[mask1 & mask2].shape[0]
b =hh_df.shape[0]
print(a/b)
print(round(hh_df[
    hh_df['Переезд'] & hh_df['Командировки']
].shape[0] / hh_df.shape[0] *100))

0.3186572501340962
32

In [590]:
hh_df.drop(["Город, переезд, командировки"], axis = 1, inplace = True)

In [621]:


ll = ['полная занятость', 'частичная занятость','проектная работа','стажировка', 'волонтерство']
for cat in ll:
    hh_df[cat] = hh_df['Занятость'].apply(lambda x: cat in x)
tt  = ['гибкий график', 'полный день', 'сменный график', 'вахтовый метод', 'удаленная работа']
for cat in tt:
    hh_df[cat]=hh_df['График'].apply(lambda x: cat in x)

In [592]:
hh_df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['ЗП', 'Ищет работу на должность:', 'Занятость', 'График', 'Опыт работы',
       'Последнее/нынешнее место работы', 'Последняя/нынешняя должность',
       'Обновление резюме', 'Авто', 'Образование', 'Пол', 'Возраст', 'Опыт',
       'Город', 'Переезд', 'Командировки', 'полная занятость',
       'частичная занятость', 'проектная работа', 'стажировка',
       'волонтерство'],
      dtype='object')>

In [629]:
hh_df.head()
mask1 = hh_df['проектная работа']== True
mask2 = hh_df['волонтерство'] == True
col = hh_df[mask1 & mask2].shape[0]
print(col)

436

In [630]:
mask1 = hh_df['вахтовый метод'] == True
mask2 = hh_df['гибкий график'] == True
display(hh_df[mask1 & mask2].shape[0])

2311

Наконец, мы добрались до самого главного — признака заработной платы «ЗП». 

В чём наша проблема? — В том, что помимо желаемой заработной платы соискатель указывает валюту, в которой он хотел бы её получать.Поэтому просто обратимся к профильным интернет-ресурсам для получения данных о курсе в виде текстовых файлов. Например, MFD.RU: данный ресурс позволяет удобно экспортировать данные о курсах различных валют и акций за указанные периоды в виде csv.